.new-journal-entry-container {
  width: 600px;
  min-height: 650px;
  box-shadow: -1px -1px 10px 1px rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.journal-entry-header {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 45px;
  padding: 20px;
}

.journal-entry-title-input-container {
  width: 90%;
}
.journal-entry-title-input {
  width: 100%;
  height: 45px;
  font-family: "Caveat", cursive;
  font-size: 28px;
  border: 1px solid rgb(164, 164, 164);
  outline: none;
}

.journal-entry-title-input:focus {
  border: 1px solid rgb(213, 175, 235);
}

.journal-entry-body-input-container {
  width: 90%;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Caveat", cursive;
}

input[type="text"].journal-entry-title-input::placeholder {
  text-align: center;
}

.journal-entry-body-input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  border: 1px solid rgb(164, 164, 164);
  resize: none;
  font-family: inherit;
  outline: none;
}

.journal-entry-body-input:focus {
  border: 1px solid rgb(213, 175, 235);
}

.journal-entry-submit {
  position: absolute;
  bottom: 20px;
  background-color: rgb(155, 111, 180);
  height: 40px;
  width: 160px;
  border: none;
  color: white;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
}

.journal-entry-submit:hover {
  background-color: rgb(191, 138, 223);
}

.journal-entry-submit:hover:active {
  background-color: rgb(223, 189, 244);
}

#photo-input {
  display: none;
}

.photo-buttons {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.upload-heart {
  font-size: 45px;
  padding-top: 2px;
  cursor: pointer;
  color: rgb(155, 111, 180);
}

.upload-heart:hover {
  color: rgb(191, 138, 223);
}

.upload-heart:hover:active {
  color: rgb(223, 189, 244);
}

.remove-heart {
  font-size: 39px;
  margin-left: 12px;
  cursor: pointer;
  color: rgb(155, 111, 180);
}

.remove-heart:hover {
  color: rgb(191, 138, 223);
}

.remove-heart:hover:active {
  color: rgb(223, 189, 244);
}

.journal-entry-photo-label {
  font-family: "Caveat", cursive;
  font-size: 22px;
}

.journal-entry-photo-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-preview {
  max-height: 250px;
  margin-top: 10px;
  margin-bottom: 80px;
  box-shadow: -1px 3px 10px 1px rgb(190, 190, 190);
}
