.journal-entry-container {
  width: 600px;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  box-shadow: -1px -1px 10px 1px rgb(225, 225, 225);
  margin-top: 10px;
  margin-bottom: 10px;
}

.journal-entry-title {
  font-family: "Caveat", cursive;
  font-size: 42px;
  text-align: center;
  padding-top: 33px;
}

.journal-entry-body {
  padding-top: 30px;
  text-align: justify;
  white-space: pre-wrap;
  font-family: "Caveat", cursive;
  font-size: 23px;
}

.journal-entry-date {
  font-family: Helvetica;
  margin-right: -6px;
  color: rgb(131, 131, 131);
  font-weight: 300;
  font-size: 12px;
  text-align: right;
}

.journal-entry-photo img {
  box-shadow: -1px 3px 10px 1px rgb(190, 190, 190);
  max-height: 250px;
  margin: auto;
  display: block;
  cursor: pointer;
}

.journal-entry-photo img:hover {
  filter: brightness(90%);
}

.journal-entry-photo {
  padding-top: 30px;
  width: 100%;
}

.full-photo {
  box-shadow: -1px 3px 10px 1px rgb(190, 190, 190);
  max-height: 80vh;
  max-width: 80vw;
}

.full-photo-container {
  position: relative;
}

.photo-modal-close {
  color: rgba(191, 191, 191, 0.75);
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 36px;
  cursor: pointer;
}

.photo-modal-close:hover {
  color: rgba(210, 210, 210, 0.75);
}

.photo-modal-close:hover:active {
  color: rgba(225, 225, 225, 0.75);
}
