* {
  box-sizing: border-box;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form > *{
  margin: 10px;
}

h1.signup {
  font-family: Arial, Helvetica, sans-serif;
}