* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#title {
  font-family: "Sacramento", cursive;
  font-size: larger;
  color: white;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5),
    1px 1px 0 rgba(0, 0, 0, 0.25), 3px 3px 3px rgba(0, 0, 0, 0.25),
    10px 10px 20px rgba(0, 0, 0, 0.5), 20px 40px 40px rgba(0, 0, 0, 0.5);
}

.title-text {
  z-index: 2;
  position: relative;
}

.nav-bar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 16;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    0deg,
    rgb(230, 209, 243) 0%,
    rgb(144, 108, 165) 100%
  );
  height: 100px;
  width: 100%;
  margin: 0;
  padding-left: 20px;
}

.nav-bar > * {
  list-style: none;
}

.logo-container {
  position: relative;
}

.lavender-img {
  height: 125px;
  width: 25px;
  position: absolute;
  top: 15px;
  left: 45px;
  transform: rotate(90deg);
  z-index: 0;
}

.nav-bar-button {
  background: transparent;
  height: 100px;
  width: 100px;
  border-style: none;
  outline: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.nav-bar-button:hover:active {
  background-color: rgba(144, 108, 165, 0.301);
}

.nav-bar-avatar {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 9px;
  top: 50%;
  user-select: none;
  transform: translateY(-50%);
  border-radius: 50%;
  object-fit: cover;
}

.nav-bar-avatar-container {
  user-select: none;
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

.nav-bar-right {
  display: flex;
  width: 200px;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
}

.nav-bar-avatar-border {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.profile-container {
  box-shadow: -1px -1px 10px 1px rgb(225, 225, 225);
  width: 500px;
  height: 300px;
}

.profile-header {
  font-family: "Caveat", cursive;
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: rgb(144, 108, 165);
  padding-top: 10px;
}

.edit-avatar-container {
  position: relative;
  height: 160px;
}

.edit-avatar-border {
  width: 160px;
  height: 160px;
  position: absolute;
  right: 20px;
}

.edit-avatar {
  position: absolute;
  width: 120px;
  height: 120px;
  right: 38px;
  top: 22px;
  filter: brightness(75%);
  user-select: none;
  object-fit: cover;
  border-radius: 50%;
}

.edit-avatar-button {
  position: absolute;
  font-size: 40px;
  color: rgb(225, 225, 225);
  right: 78px;
  top: 67px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

#edit-avatar-input {
  display: none;
}

.edit-avatar-button:hover {
  background-color: rgba(255, 255, 255, 0.221);
}

.profile-body {
  display: flex;
  height: auto;
}

.profile-body-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.profile-logout {
  color: rgb(155, 111, 180);
  cursor: pointer;
  font-weight: 600;
  background-color: white;
  border: 2px solid rgb(155, 111, 180);
  border-radius: 6px;
  height: 35px;
  width: 80px;
  margin-top: 71px;
  outline: none;
}

.profile-logout:hover {
  background-color: rgba(211, 167, 237, 0.208);
}

.profile-logout:hover:active {
  background-color: rgba(223, 189, 244, 0.322);
}

.profile-name {
  font-weight: 600;
  font-size: 22px;
  color: rgb(40, 40, 40);
  margin-bottom: 10px;
}

.profile-username {
  color: rgb(120, 120, 120);
  margin-bottom: 3px;
}

.profile-email {
  font-style: italic;
  color: rgb(83, 83, 83);
}

.profile-body-right {
  width: 50%;
  height: 100%;
}

.submit-avatar {
  background-color: rgb(155, 111, 180);
  height: 35px;
  width: 80px;
  border: none;
  color: white;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  position: absolute;
  margin-top: 15px;
  right: 60px;
}

.submit-avatar:hover {
  background-color: rgb(191, 138, 223);
}

.submit-avatar:hover:active {
  background-color: rgb(223, 189, 244);
}
